@import "tailwindcss";

/* Brand Theme */
:root {
  --bg-dark: #0b0f19;
  --bg-light: #111827;
  --gold: #d4af37;
  --text-muted: #9ca3af;
}

body {
  background-color: var(--bg-dark);
  color: white;
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}